@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}
body{
  background-image: url("../src/images/login-bg.png");
  /*background-position: center center;
  background-repeat: no-repeat;*/
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}
